.header {
  height: 10vh;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  padding: 0 16px;
}

.header > h1 {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
}

.header nav {
  display: flex;
  gap: 16px;
}

.header nav a {
  background-color: rgb(134, 134, 20);
  color: white;
  font-size: 20px;
  padding: 4px 10px;
}

.header nav a:hover {
  background-color: bisque;
}
